body {
  text-align: center;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #486499;
}

h2 {
  text-align: center;
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #486499;
}

h3 {
  text-align: center;
}

form {
  text-align: center;
}

input[type=submit]{
    display: inline-block;
    text-align:center;
}

ul li {
  text-align: center;
  display: inline;
}
